# Machine Learning on the Titanic Dataset

This notebook focuses on one of [Kaggle's](https://www.kaggle.com/c/titanic) "Getting Started" prediction competitions, the Titanic challenge.

In [3]:
# classifier models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# modules to handle data
import pandas as pd
import numpy as np

# visualization tools
import matplotlib.pyplot as plt
import seaborn as sns

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [4]:
# environment setup
sns.set()
plt.style.use('ggplot')
%matplotlib notebook

## I. Data Wrangling

Like in most cases with any data science project, we are likely to encounter dirty or missing data and will need to do some wrangling before we can really do anything else.

In [5]:
df=pd.read_csv('./Data/df.csv')

In [6]:
df

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0.0,3,22.0,1,0,7.2500,1,0,1
1,1.0,1,38.0,1,0,71.2833,0,0,0
2,1.0,3,26.0,0,0,7.9250,0,0,1
3,1.0,1,35.0,1,0,53.1000,0,0,1
4,0.0,3,35.0,0,0,8.0500,1,0,1
...,...,...,...,...,...,...,...,...,...
1304,NaN,3,28.0,0,0,8.0500,1,0,1
1305,NaN,1,39.0,0,0,108.9000,0,0,0
1306,NaN,3,38.5,0,0,7.2500,1,0,1
1307,NaN,3,28.0,0,0,8.0500,1,0,1
1308,NaN,3,28.0,1,1,22.3583,1,0,0

In [7]:
from pycaret.classification import*

In [8]:
d=setup(data=df,
       target='Survived')

Setup Succesfully Completed!