# Machine Learning on the Titanic Dataset

This notebook focuses on one of [Kaggle's](https://www.kaggle.com/c/titanic) "Getting Started" prediction competitions, the Titanic challenge.

In [1]:
# classifier models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# modules to handle data
import pandas as pd
import numpy as np

# visualization tools
import matplotlib.pyplot as plt
import seaborn as sns

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# environment setup
sns.set()
plt.style.use('ggplot')
%matplotlib notebook

## I. Data Wrangling

Like in most cases with any data science project, we are likely to encounter dirty or missing data and will need to do some wrangling before we can really do anything else.

In [3]:
# load data
train = pd.read_csv('./Data/train.csv')
test = pd.read_csv('./Data/test.csv')

In [4]:
from pycaret.classification import *

In [6]:
d=setup(data=train,
       target='Survived',
       ignore_features=['PassengerId','Name'],
       bin_numeric_features=['Age','Fare'],
       )

Setup Succesfully Completed!

In [7]:
compare_models()

In [8]:
rd=create_model('ridge')

      Accuracy  AUC  Recall   Prec.      F1   Kappa
0       0.7937  0.0  0.5833  0.8235  0.6829  0.5365
1       0.8571  0.0  0.7500  0.8571  0.8000  0.6897
2       0.8413  0.0  0.8333  0.7692  0.8000  0.6688
3       0.9355  0.0  0.8750  0.9545  0.9130  0.8619
4       0.7419  0.0  0.6250  0.6818  0.6522  0.4477
5       0.9194  0.0  0.9167  0.8800  0.8980  0.8313
6       0.8387  0.0  0.6250  0.9375  0.7500  0.6379
7       0.7258  0.0  0.8333  0.6061  0.7018  0.4595
8       0.8387  0.0  0.7500  0.8182  0.7826  0.6548
9       0.8226  0.0  0.7391  0.7727  0.7556  0.6164
Mean    0.8315  0.0  0.7531  0.8101  0.7736  0.6404
SD      0.0633  0.0  0.1079  0.1028  0.0809  0.1305

In [9]:
tuned_rd=tune_model('ridge')

      Accuracy  AUC  Recall   Prec.      F1   Kappa
0       0.7302  0.0  0.5000  0.7059  0.5854  0.3939
1       0.8571  0.0  0.8333  0.8000  0.8163  0.6995
2       0.8571  0.0  0.7917  0.8261  0.8085  0.6947
3       0.9355  0.0  0.9167  0.9167  0.9167  0.8640
4       0.7581  0.0  0.6250  0.7143  0.6667  0.4781
5       0.9194  0.0  0.9167  0.8800  0.8980  0.8313
6       0.8226  0.0  0.6250  0.8824  0.7317  0.6049
7       0.7742  0.0  0.8750  0.6562  0.7500  0.5517
8       0.8226  0.0  0.7083  0.8095  0.7556  0.6173
9       0.8387  0.0  0.7826  0.7826  0.7826  0.6544
Mean    0.8315  0.0  0.7574  0.7974  0.7711  0.6390
SD      0.0625  0.0  0.1326  0.0804  0.0941  0.1378

In [10]:
predict_model(tuned_rd)

              Model  Accuracy  AUC  Recall   Prec.      F1   Kappa
0  Ridge Classifier    0.8246    0  0.7961  0.7593  0.7773  0.6328

,Pclass_1,Pclass_2,Pclass_3,Sex_female,SibSp_0,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,...,Fare_2.0,Fare_3.0,Fare_4.0,Fare_5.0,Fare_6.0,Fare_7.0,Fare_8.0,Fare_9.0,Survived,Label
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1
264,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0
265,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
266,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0
267,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0

In [11]:
final_rd = finalize_model(tuned_rd)

In [12]:
predict_model(final_rd)

              Model  Accuracy  AUC  Recall   Prec.      F1   Kappa
0  Ridge Classifier    0.9851    0  0.9806  0.9806  0.9806  0.9685

,Pclass_1,Pclass_2,Pclass_3,Sex_female,SibSp_0,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,...,Fare_2.0,Fare_3.0,Fare_4.0,Fare_5.0,Fare_6.0,Fare_7.0,Fare_8.0,Fare_9.0,Survived,Label
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1
264,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0
265,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
266,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0
267,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0

In [13]:
unseen_predictions = predict_model(final_rd, data=test)
unseen_predictions.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Label
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [14]:
# save PassengerId for final submission
passengerId = test.PassengerId

In [16]:
unseen_predictions.rename(columns={'Label':'Survived'}, inplace=True)

In [17]:
unseen_predictions

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0

In [18]:
k=unseen_predictions.values

In [21]:
pred=k[:,-1]

In [22]:
# dataframe with predictions
kaggle = pd.DataFrame( {'PassengerId': passengerId, 'Survived': pred} )

In [23]:
kaggle

     PassengerId Survived
0            892        0
1            893        1
2            894        0
3            895        0
4            896        1
..           ...      ...
413         1305        0
414         1306        1
415         1307        0
416         1308        0
417         1309        0

[418 rows x 2 columns]

In [25]:
# save to csv
kaggle.to_csv('./Data/titanic_pycaret.csv', index=False)

In [30]:
plot_model(tuned_rd,plot='pr')